/* AMP Default Site CSS */

div.list_pager {
		text-align: right;
		float: right; 
		width: 100%; 
		font-size: 11px;
        position:relative;
		display: inline;
		padding: 5px 5px 10px 5px;
        margin-top:3em;
}

div.list_pager a.pager_link {
		font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px
		margin-bottom: 5px;
}
  a.current_page_jump_link {
      font-weight: bold;
      font-size: 14px;
  }

.AMPComponent_hidden {
		display: none;
		margin-top: 10px;
}

.standout {
		font-weight: bold;
		text-decoration: none;
		font-size:16px;
}

a.standout {
		text-decoration: none;
}

img.image_frontpage {
		border: 1px solid #000000;
}

span.morelink {
		margin-right: 10px;
}

span.udm_header {
		display: block;
		background-color: #E3E3E3;
		padding: 5px;
}

.searchform_label, .searchform_element, .searchform_header, .searchform_table, searchform_table.input {
		font-size: 11px;
		text-decoration: none;
		margin-left: 3px;
		/*text-align:left;*/
}

.searchform_table {
	text-align: left;
}


.searchform_header {
		font-size: 11px;
		font-weight: bold;
}

td.list_entry {
	width: 90%;
}

div.list_entry {
	width: 90%;
	padding-bottom: 1em;
}

.element_list_container {
	border: 1px solid silver;
	padding: 10px;
}

div.spacer {
	clear: both;
}

.sidebar_left {
	width:25%;
	padding:10px;
	float:left; 
	background-color:#999999; 
	margin-top:0px; 
	margin-left:10px; 
	margin-right:10px;
	margin-bottom:10px;
}	

.sidebar_right {
	width:25%;
	padding:10px;
	float:right; 
	background-color:#999999; 
	margin-top:0px; 
	margin-left:10px; 
	margin-right:10px;
	margin-bottom:10px;
}	

/* GALLERY MODULE */
/* list of gallerys */
.gallerylist { padding: 5px; text-align: left; }
.gallerylist a { font-size: 14px; }
.gallerylist img { float: left; margin: 8px; border: 1px solid #666; }
.gallerylist br { clear: both; }
.gallerylist p { display: inline; font-size: 12px; font-weight: normal; color: #666; padding-left: 10px; }
.gallerylist p a { color: #f00; font-size: 100%;
font-size: 11px; font-weight: normal; font-style: italic; color: #666; }

/* indiv gallery page */
.gallerytitle { font-size: 16px; font-weight: bold; color: #333333; }
/*div.gallery { padding: 0; margin: 0; border: 0; width: 400px; border: 1px solid #666; float:left; max-width: 400px;}*/
div.gallerycon { min-width: 200px; min-height: 200px; float: left; margin: 10px; text-align: center; border: 0px; }
.gallerycon img { float: center; padding: 5px; border: 1px solid #666000; }
.gallerycon img.icon{ float: right; padding: 3px; border: 0px ; }
.gallerycap { padding: 5px; border: 0px solid #666; margin: 5px; }
div.gallery_pager { padding: 10px 0px 40px 0px; }
div.gallery_image_details {
  display:inline;
  width: 200px;
  font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-weight: normal; color: #333333; text-align: center; vertical-align: middle; 
  clip:   rect(   ); padding-top: 3px; padding-bottom: 3px
}

/* errors and results */
span.page_result {
		display:block;
		border: #99CCFF 2px solid;
		width: 60%;
		background-color: #ddEEFF;
		color: #006666;
		text-align: center;
		padding: 0.5em 5em 0.5em 5em;
		margin: 1em 5em 0.5em 10em;
}
html > body span.page_result {
		margin-left: 10%;
}
span.page_error {
		display:block;
		width: 60%;
		border: #FF5599 2px solid;
		background-color: #FF99CC;
		color: #550000;
		text-align: center;
		padding: 0.5em 5em 0.5em 5em;
		margin: 1em 5em 0.5em 10em;
}
html > body span.page_error {
		margin-left: 10%;
}

span.list_subheader {
	font-size: 15px;
	font-weight: bold;
}

div.list_header {
	display: block;
    border: 2px solid #9F6C06 ;
	padding: 5px;
	font-size: 15px;
	font-weight: bold;
}

div.list_tags div.list_column {
	float:left;
}

a.list_item, div.list_item {
	padding: 1em;
    display:block;
}
a.list_item{
    width: 100%;
    font-size: 1.2em;
}
a.list_item:hover {
	background-color: #EECC99;
    text-decoration: none;
}
div.list_item {
    padding-right: 1em;
}

div.tagged_items div.list_item {
    display: block;
    padding: 1em;
    width: 100%;
}

div.tagged_items a.list_item {
    font-size: 1.5em;
}

div.userdata_pager {
    width: 100%;
    text-align: center;
    padding-bottom: 5px;
    padding-top: 2px;
    background-color: #E5E5E5;

}

div.userdata_pager_footer {
    width:100%;
    text-align:right;
    padding-bottom:5px;
    padding-top:2px;
    background-color:#E5E5E5;
}

.name {
	font-size: 11px;
	text-align: left;
}

div.webaction_message {
	background-color: #e1e1e1;
	float: left;
	padding: .5em;
	margin: .5em;
	height: 100%;
}

div.webaction_form {
	float: left;
	padding: .5em;
	margin: .5em;
}
