div#container {
top:0;
visibility: visible;
position: relative;
margin-top: 0px;
margin-right: auto;
margin-bottom: 0px;
margin-left: auto;
bottom: 0;
width: 700px;
height: 100%;
}

body{
min-width: 700px;
text-align: center;
padding: 0 0 0 0;
}

div {
text-align: left;
}

div.db_container { 
border: 1px solid silver; 
width:400px; 
/*margin-left:auto; 
margin-right: auto;*/
display: none;
top: 10px;
left: 200px;
position: absolute;
padding: 10px 10px 10px 10px;
}

ul.field_list {
list-style: none;
}

div.db_control_nav, ul.field_list {
display:none;
}

div#left_nav {
width: 150px;
position: absolute;
margin-left: 0px;
margin-top: 0px;
padding: 10px 10px 10px 10px;
}
div#list_entry
{padding: 10 10 5 10; position: relative;  display: auto; }

a.content_nav {
margin-right: 2em;
}