
ul#topnav {
	margin:0 0 22px;
	padding: 0 0 0 0px;
	list-style: none;
	border: none;
} 

#topnav li {
	display: block;
	margin: 0;
	padding: 0;
	float:left;
}
	
#topnav a {
	display:block;
	color:#444;
	text-decoration:none;
	background: url(images/lia.gif) no-repeat;
	margin:0;
	padding: 0.2em 2.4em 0.2em 30px;
	border-right: 1px solid #aaa;
	position: relative;
	font: bold 12.5px helvetica, arial, geneva, lucida, sans-serif;
}
#topnav a#a0 { left: 0px;}
#topnav a#a1 { left: -30px;}
#topnav a#a2 { left: -60px;}
#topnav a#a3 { left: -90px;}
#topnav a#a4 { left: -120px;}
#topnav a#a5 { left: -150px;}
#topnav a#a6 { left: -180px;}
	
#topnav a:hover {
	background: url(images/liahover.gif) no-repeat;
}

#topnav a.here {
	position:relative;
	z-index:102;
	background: url(images/liahover.gif) no-repeat;
	border-right: 1px solid #777;
	padding: 0.2em 1em 0.2em 35px;
	margin: 0 4px 0 0;
}

.toptitle {
	color : #FFFFFF; font-size: 22px; font-weight: bold; 
; font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration : none;
}
.toplinks {
	color : #cccccc;
	text-align: right;
	font-size: 10px;
	font-weight: bold;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	text-decoration : none;

}
A.toplinks {
	color : #cccccc;
	text-align: right;
	font-size: 10px;
	font-weight: bold;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	text-decoration : none;

}
.sidetitle {
	color : #000000;
	text-align: left;
	font-size: 12px;
	font-weight: bold;
	border-color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	padding-left: 10px;
}
.side {
	font-size: 9px;
	text-align: left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration : none;
	padding-left: 10px;
}
a.side {
	font-size: 9px;
	text-align: left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration : none;
	padding-left: 10px;
}
 
 a.side:hover  {
	font-size: 9px;
	text-align: left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration : none;
	padding-left: 10px;
}

h2 { 	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #006666;
	padding-bottom: 3px;
	padding-left: 7px;
	padding-top: 3px;
}
A:HOVER {
	color : #0033FF;
	text-decoration : none;
}
.intitle {
	font-size: 12px;
	font-weight: bold;
	color: White;
; font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color : #006699;
}
.name {
	font-size: 10px;
	font-weight: normal;
	color: #000000;
; font-family: Verdana, Arial, Helvetica, sans-serif
; font-variant: normal; text-transform: none}
.text {
	font-size: 10px;
; font-family: "Times New Roman", Times, serif; color: #000000}
.text2 {
	font-size: 14px;
; font-family: "Times New Roman", Times, serif; color: #000000}
.red {
	color: #CC0000;
}
a {  font-weight: normal; color: #003399}
.header {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
}
.pagetitle {  font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 14px; font-weight: bold; color: #000000}

.side_banner {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #006666;
	padding-bottom: 3px;
	padding-top: 3px;
	text-transform: uppercase;
 }

.banner {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #006666;
	padding-bottom: 3px;
	padding-left: 7px;
	padding-top: 3px;
 }
.small {  font-family: Arial, Helvetica, sans-serif; font-size: 9px; 
font-weight: normal}


