/* ELEMENTS */
h2 { 	
	font-size: 18px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #006666;	
	background-color: #006666;
	background: url('images/banner-bg.png') top left repeat-x;
	padding: 3px 7px;
	text-shadow: 2px 2px 2px black;
}

a {  font-weight: normal; color: #003399}

A:HOVER {
	color : #0033FF;
	text-decoration : none;
}

body {
		padding: 0;
		margin: 0;
		font-family: Verdana, "Trebuchet MS", Helvetica, sans-serif
}

p, td, select {
	font-size: 12px;
	text-align: left;
	font-family: Verdana, "Trebuchet MS", Helvetica, sans-serif

}

/* HEADER CLASSES */

/* id class for the header */
.header {
	font-size: 10px;
	font-weight: bold;
}
#header {
	background: url('images/header-bg.png') top left repeat-x;
}

.udm_header {
		display: block;
		background-color: #e3e3e3;
		color: #000000;
        width: 100%;
}

/* the site name in the header */
.toptitle {
	color : #FFFFFF; font-size: 22px; font-weight: bold; 
	text-decoration : none;
	text-shadow: 2px 2px 3px black;
}

/* id for the site name in the header */
#pagetitle {
    font-size: 14px;
	font-weight: bold;
	color: #000000;
	border-bottom: 2px solid #AAAAAA;
	border-top: 4px solid #003060;
}

/* "navigation display" links */
.toplinks {
	color : #cccccc;
	text-align: right;
	font-size: 10px;
	font-weight: bold;
}
A.toplinks {
	text-decoration : none;
}

/* id for the drop down menu */
#navlinks {
		background: url('images/menu-bg.png') top left repeat-x;
		height: 26px;
		border-top: 2px solid #eeeeee;
}

/* SIDE BAR CLASSES */


/* id for the sidebar */

p.side, a.side {
	font-size: 9px;
	text-align: left;
	text-decoration : none;
	margin-left: 7px;
}


ul.side {
	margin: 0;
	padding: 0px 0px 0px 30px;
		
}

ul.side li {
	padding: 1px 0 1px 1px;
	margin: 0;
	font-size: 9px;
	text-align: left;
	list-style-type: none;		
}

ul.side li a {
	text-decoration: none;
}

ul.side li:hover, a.list_controls:hover {
		background-color: #d0d0d0;
}

li.side_add {
	list-style-image: url("images/edit.png");
}

li.side_view {
	list-style-image: url("images/view2.png");;
}
li.side_settings {
	list-style-image: url("images/settings.png");;
}
li.side_doc {
	list-style-image: url("images/pdf.png");;
}
li.side_upload {
	list-style-image: url("images/upload.gif");;
}
li.side_img {
	list-style-image: url("images/picture.png");;
}
li.side_type {
	list-style-image: url("images/type.png");;
}
li.side_user {
	list-style-image: url("images/user.png");;
}
li.side_exit {
	list-style-image: url("images/exit.png");;
}
li.side_email {
	list-style-image: url("images/email.png");;
}
li.side_form {
	list-style-image: url("images/browse.png");;
}
li.side_search {
	list-style-image: url("images/search.png");;
}
li.side_page {
	list-style-image: url("images/document.png");;
}
li.side_home {
	list-style-image: url("images/home.png");;
}

/* black text in list that breaks up ul */
.sidetitle {
	color : #000000;
	text-align: left;
	font-size: 12px;
	font-weight: bold;
	border-color: #FFFFFF;
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: 7px;
}

.standout {
	font-weight: bold;
	text-decoration: none;
	font-size:16px;
}

a.standout {
		text-decoration: none;
}


/* side title for section */
.side_banner {
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	background: url('images/side-banner-bg.png') bottom left repeat-x #007676;
	padding-bottom: 3px;
	padding-top: 3px;
	margin-top:3px;
	text-transform: uppercase;
	text-align: center;
	font-family: "Trebuchet MS", Verdana, Arial, sans-serif;
}

/* Display Page Classes */
.list_controls {
	font-size: 9px;
	text-decoration : none;
	margin-left: 3px;
}

.system_list_input {
	font-size: 11px;
	text-decoration : none;
	margin-left: 3px;
}

.searchform_label, .searchform_element, .searchform_header, .searchform_table {
		font-size: 11px;
		text-decoration: none;
		margin-left: 3px;
}


.searchform_header {
		font-size: 11px;
		font-weight: bold;
}


span.page_result, a.page_result {
		display:block;
		border: #99CCFF 2px solid;
		width: 60%;
		background-color: #ddEEFF;
		color: #006666;
		text-align: center;
		padding: 0.5em 5em 0.5em 5em;
		margin: 1em 5em 0.5em 10em;
}

a.page_result {
	text-decoration:none;
}
a.page_result:hover {
		border: #FFCC99 2px solid;
		color: #77BBCC;
		background-color: #FFFFCC;
}
html > body span.page_result {
		margin-left: 10%;
}
span.page_error {
		display:block;
		width: 60%;
		border: #FF5599 2px solid;
		background-color: #FF99CC;
		color: #550000;
		text-align: center;
		padding: 0.5em 5em 0.5em 5em;
		margin: 1em 5em 0.5em 10em;
}
html > body span.page_error {
		margin-left: 10%;
}

/* CONTENT LAYOUT CLASSES */

/* top blue header for table layout */
.intitle {
	font-size: 12px;
	text-shadow: 2px 2px 1px black;
	font-weight: bold;
	color: white;
	background-color : #006699;
	background: url('images/intitle-bg.png') top left repeat-x;
	padding: 4px 2px 2px 6px;
	height: 25px;
	margin: 20px 0px 10px 0px;
}

span.intitle {
    display: block;
    width: 100%;
}

.system_heading {
	font-size: 12px;
	text-shadow: 2px 2px 1px black;
	font-weight: bold;
	color: white;
	background-color : #006699;
	background: url('images/intitle-bg.png') top left repeat-x;
	padding: 4px 2px 2px 6px;
	height: 25px;
	margin: 20px 0px 10px 0px;
    display: block;
    width: 100%;
}

.intitle td {
		padding: 2px 2px 2px 4px;
		vertical-align: middle;
}
a.intitle {
	background: none;
	padding: 0px 0px;
	margin: 2px;
}


tr.list_column_header td {
	font-size: 12px;
	text-shadow: 2px 2px 1px black;
	font-weight: bold;
	color: white;
	background-color : #006699;
	background: url('images/intitle-bg.png') top left repeat-x;
	padding: 2px 2px 2px 6px;
	height: 25px;
	margin: 20px 0px 10px 0px;
}

.list_table
{ 
text-align: center;
width: 100%;
margin-top: 5px;
}

.list_table table {
	width: 98%;
	border:none;
	margin-left: auto;
	margin-right: auto;
}


.list_table tr {
	height: 20px;
}

/* label text in forms */
.name {
	font-size: 11px;
}

td.name {
		 padding-right:1em;
}
td.name input{
	float: right;
	position: relative;
}

.text {
	font-size: 10px;
	font-family: "Times New Roman", Times, serif; 
}

.text2 {
	font-size: 14px;
	font-family: "Times New Roman", Times, serif; 
}

.red {
	color: #CC0000;
}

.banner {
	font-size: 18px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #006666;
	background: url('images/banner-bg.png') top left repeat-x;
	padding: 3px 7px;
	text-shadow: 2px 2px 2px black;
} 
/*
.main {
	display: table;	
	width: 100%;
}
*/
div.article_tab {
	display:none;
	width: 100%;
	padding: 0px 10px 10px 10px;
	margin-left: -2px;
	float: left;
}

div.article_tab table.form_table {
	/*border: 1px solid black;*/
		margin-top: 6px;
        
		border-top: 1px solid gray;
		border-left: 1px solid gray;

}

div#article_main {
	display: block;
}
.doc_info {
	font-size: 18px;
	color: #006666;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
}
.info_block {
	background-color: #dedede;
	padding: 5px;
}

.small {  
	font-size: 9px; 
	font-weight: normal;
}

/* FOOTER CLASSES*/

p#footer {
		text-align: center;
		padding-top: 1ex;
		font-size: small;
		color: #444444;
}

/* TAB DISPLAY */

ul#topnav {
	margin:0 0 22px;
	padding: 0 0 0 0px;
	list-style: none;
	border: none;
} 

ul#topnav li {
	display: block;
	margin: 0;
	padding: 0;
	float:left;
}

ul#topnav a {
	display:block;
	color:#444;
	text-decoration:none;
	background: url(images/lia.gif) no-repeat;
	margin:0;
	padding: 0.2em 2.4em 0.2em 30px;
	border-right: 1px solid #aaa;
	position: relative;
	font: bold 12.5px helvetica, arial, geneva, lucida, sans-serif;
}

#topnav a#tab_0 { left: 0px;}
#topnav a#tab_1 { left: -30px;}
#topnav a#tab_2 { left: -60px;}
#topnav a#tab_3 { left: -90px;}
#topnav a#tab_4 { left: -120px;}
#topnav a#tab_5 { left: -150px;}
#topnav a#tab_6 { left: -180px;}
	
#topnav a:hover {
	background: url(images/liahover.gif) no-repeat;
}
/*
#topnav a.current_tab {
	position:relative;
	z-index:102;
	background: url(images/liahover.gif) no-repeat;
	border-right: 1px solid #777;
	padding: 0.2em 1em 0.2em 35px;
	margin: 0 4px 0 0;
}
*/
.top {text-align:right; font-size:10px; }
.subfield {background-color: #FFFFFF;}
legend {border: 1px solid black;  border-top: none; background-color: #eee; padding: 0 1ex; }

.option  {
		float:left;
		background:url("images/norm_left.gif") no-repeat left top;
		margin:0;
		padding:0 0 0 9px;
		}
.option a {
		float:left;
		display:block;
		background:url("images/norm_right.gif") no-repeat right top;
		padding:5px 15px 4px 6px;
		text-decoration:none;
		font-weight:bold;
				font-size: 80%;
		color:#765;
		}
/* Commented Backslash Hack
		hides rule from IE5-Mac \*/
.option a {float:none;}
/* End IE5-Mac hack */
.option a:hover {
		color:#333;
		}

.option.current {
		background-image:url("images/norm_left_on.gif");
		border-width:0;
		}

.option.current a {
		background-image:url("images/norm_right_on.gif");
		color:#333;
		}
		


/*hidden divs class*/

.AMPComponent_hidden {
		display: none;
		margin-top: 10px;
}

div.list_pager {
	text-align: right;
	float: right;
	width: 100%;
	font-size: 11px;
	display: block;
	margin-right: 20px;
	padding: 5px;
	margin-bottom: 20px;
	position:relative;
}
div.list_pager_block {
	text-align: right;
	width: 100%;
	font-size: 11px;
	display: block;
	margin-right: 20px;
	padding: 5px;
	margin-bottom: 20px;
	position:relative;
	float: right;
/*
	background-color: #99EE99;
	border: solid 2px #006699;
*/
}

div.filelink {
    display: block;
    padding: 10px;
}

div.filelink a {
    text-decoration: none;
}

.photocaption {
    font-size: 9px;
}

.publish_label {
	color: #990000;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 1.5em;
}

/* vanishing reappearing blocks on Forms */

.form_hider {
	display:none;
}
div.fieldextra {
	border: 1px solid grey;
	background: #fffff0;
	padding: 0.5em;
	margin: 1em 0;
}
div.fieldset {
	clear: both;
	padding: 0;
}

div.fieldset a.trigger {
	margin: 5px;
	padding-left: 20px;
	text-decoration: none;
	font-size: 13px;
}
div.fieldextra a.trigger {
	display: block;
    padding: 5px;
	width: 95%;
/*	background-color: #006699;*/
	background: url('images/intitle-bg.png') top left repeat-x;
	color: #FFFFFF;
	font-size: 12px;
	text-shadow: 2px 2px 1px black;
	font-weight: bold;
}
img.field_arrow {
	float: left;
	margin: 3px;
}

div.item_timestamp {
	background-color: #dedede;
	padding: 10px;
	margin: 10px;
	width: 110%;
	white-space: nowrap;
}

/* Tabbed-Form CSS */

.article_tab .form_table {
	padding: 4px 4px 2px 6px;
}

table.form_table {
	width: 90%;
	float: left;
	text-align: center;
    z-index:50;
/*
	position: absolute;
	left:250px;
*/
}
    div#tabs ul, div#tabs_mirror ul {
        margin: 0;
        padding: 0 0 2px 0.5em;
        z-index: 100;
    }

    div#tabs ul li span, div#tabs_mirror ul li span {
        padding: 0.2ex 0.5ex;
        background-color: #e6e6e6;
        border: 1px solid black;
        cursor: pointer;
        z-index:150;
    }

    div#tabs ul li span.current_tab {
        background-color: white;
        border-bottom: 1px solid white;
        font-weight: bold;
    }

    div#tabs ul li , div#tabs_mirror ul li {
        margin: 0 0.25ex -5px;
        padding-top: 10px;
        vertical-align: bottom;
    }

    div#tabs_mirror ul li span.current_tab {
        background-color: white;
        border-top: 1px solid white;
        font-weight: bold;
    }

	div#tabs_mirror ul {
		margin-bottom: 2em;
	}


	div#formContainer {
		width: 100%;
    }

    fieldset.system_main_content {
        border: 1px solid grey;
        margin:20px;
        padding:10px;
        height: 100%;


    }

/* Auto-complete field CSS */
  div.auto_complete {
    width: 350px;
    background: #fff;
  }
  div.auto_complete ul {
    border:1px solid #888;
    margin:0;
    padding:0;
    width:100%;
    list-style-type:none;
  }
  div.auto_complete ul li {
    margin:0;
    padding:3px;
  }
  div.auto_complete ul li.selected { 
    background-color: #ffb; 
  }
  div.auto_complete ul strong.highlight { 
    color: #800; 
    margin:0;
    padding:0;
  }

  a.current_page_jump_link {
      font-weight: bold;
      font-size: 14px;
  }

/* tag listing */

div.tag_listing div.list_row {
	display: block;
	background: #EEFFEE;
	border: .1em solid #AAFFAA;
	height: 1.6em;
	text-align: left;
	font-size: 1.2em;
	margin: .2em;
	padding: .2em;
	padding-left: 2em;
}
div.tag_listing div.list_row:hover {
	background: #AAFFAA;
	border: .1em solid #FFAAFF;
	cursor: pointer;
}

div.tag_listing_icon {
	float: right;
}

div.list_row_controls {
	float: left;
	padding-right: 2em;
}

div.userdata_pager {
    width: 100%;
    text-align: center;
    padding-bottom: 5px;
    padding-top: 2px;
    background-color: #E5E5E5;

}

div.userdata_pager_footer {
    width:100%;
    text-align:right;
    padding-bottom:5px;
    padding-top:2px;
    background-color:#E5E5E5;
}
