.progresscontainer {
	width: 200px;
	height: 16px;
	background-color: #aaaaaa;
}

.progressbar {
	width: 0px;
	height: 16px;
	/*background-color: black;*/
	background-image: url(/img/progress-bar.gif);
}

body {
	margin-top: 0;
	margin-left: 20px;
	padding: 0;
	font-family: Verdana, "Bitstream Vera Sans", sans-serif;
	color: #66AACC;
}

h1 {
	margin-top: 10px;
}

div.inputhead {
	font-size: x-small;
}

.input {
	margin-bottom: 10px;
	width: 200px;
	font-family: Verdana, "Bitstream Vera Sans", sans-serif;
	font-size: .75em;
}

.data {
	margin-left: 20px;
}
