<FilesMatch "\.(php|inc)$">
Order allow,deny
deny from all
</FilesMatch>
<FilesMatch "(index.php|connector.php|upload.php)$">
Order allow,deny
allow from all
</FilesMatch>
php_value auto_prepend_file "AMP/Auth/Require.inc.php"
